@{
    ViewData["Title"] = "landing";
}

@section head {

    <link rel="stylesheet" href="~/css/main.css" />

}

<section class="feature-content">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="feature-image-main">
                    <div class="feautre-content-image">
                        <img src="~/images/electronic-iteams/camera-1.jpg" id="imagemain" alt="watch" />
                    </div>

                    <div class="feature-image d-flex justify-content-center">
                        <div class="feature-sub-image">
                            <img src="~/images/electronic-iteams/camera-2.jpg" class="feature-image-sub" onclick="btnclick(this)" />

                        </div>

                        <div class="feature-sub-image">
                            <img src="~/images/electronic-iteams/camera-3.jpg" class="feature-image-sub" onclick="btnclick(this)" />

                        </div>

                        <div class="feature-sub-image">
                            <img src="~/images/electronic-iteams/camera-4.jpg" class="feature-image-sub" onclick="btnclick(this)" />

                        </div>


                        <div class="feature-sub-image">
                            <img src="~/images/electronic-iteams/camera-5.jpg" class="feature-image-sub" onclick="btnclick(this)" />

                        </div>


                        <div class="feature-sub-image">
                            <img src="~/images/electronic-iteams/camera-6.jpg" class="feature-image-sub" onclick="btnclick(this)" />

                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-5 offset-1">
                <div class="banner-title">
                    <h1 class="heading-1">
                        Mapple Earphones

                    </h1>
                </div>
                <div class="feature-title-main d-flex">
                    <div class="feature-content-title">
                        <span class="greydefault-feature">
                            Brand:
                        </span>
                    </div>

                    <div class="heading-feature-title">
                        <span class="heading-four">
                            Ziaomi
                        </span>
                    </div>
                </div>


                <div class="feature-title-main d-flex">
                    <div class="feature-content-title">
                        <span class="greydefault-feature">
                            Rated:
                        </span>
                    </div>

                    <div class="heading-feature-title d-flex align-items-center">
                        <div class="card-rating  text-center">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="defaul-span">(12)</span>
                        </div>
                    </div>
                </div>

                <div class="cardprice-title pt-3">
                    <p class="red-title">US$154.56</p>
                </div>

                <div class="card-title pt-0">
                    <h4 class="heading-4">
                        Stock Available
                    </h4>
                </div>

                <div cite="banner-link">
                    <a href="#" class="bannerlink">Add to Cart</a>
                </div>


                <div class="feature-title-main d-flex pt-4">
                    <div class="feature-content-title">
                        <span class="greydefault-feature">
                            Sold By:
                        </span>
                    </div>

                    <div class="heading-feature-title">
                        <span class="heading-four">
                            Mobile Store
                        </span>
                    </div>
                </div>
                <div class="pt-4 feature-list__specs">
                    <ul class="feature-list__specs_unordered_list ">
                        <li class="heading-four">RAM: 16GB</li>
                        <li class="heading-four">Hard Drive: 256GB SSD</li>
                        <li class="heading-four">Screen Size: 13.3 inches</li>
                    </ul>
                </div>
                <div class="pt-4 feature-list__order_details">
                    <div class="feature-list__order_details_unorderdList_container">
                    <ul class="feature-list__order_details_unordered_list">
                        <li class="heading-four">
                            Estimated delivery time 14-30 days
                        </li>
                        <li class="heading-four">
                            18 months warranty at Genuine Warranty Center.
                        </li>
                        <li class="heading-four">
                            Whats in the box: charging cable and block
                        </li>
                    </ul>
                    </div>
                </div>
                <div class="pt-4 feature-list__item_inbox_details">
                    <div class="feature-list__item_inbox_details_unorderdList_container">
                        <ul class="feature-list__item_inbox_details_unordered_list">
                            <li class="heading-four">
                                <span class="inbox_details_title">SKU:</span>
                                <span class="inbox_details_title__feature_item ps-5">
                                0093-26
                                </span>
                            </li>

                            <li class="heading-four">
                                <span class="inbox_details_title">
                                    Tags: 
                                </span>
                                <span class="inbox_details_title__feature_item ps-5">
                               <a href=#>Accessories</a>,<a href="#">Elctronics</a>,<a href="#">Game</a>,<a href="#">Tech Accessories</a>
                                </span>
                            </li>
                            <li>
                                <div class="feature-list__item_inbox_details_unordered_list_media_deatail">
                                <span class="inbox_details_title heading-four">Share:</span>
                                @* <div class="feature-list__item_inbox_details_unordered_list__links"> *@
                                    <ul class="feature-list__item_inbox_details_unordered_list__links d-flex">
                                        <li class="facebook">
                                            <a href="#">
                                                <i class="fa-brands fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li class="twitter">
                                        <a href="#">
                                                <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </li>
                                        <li class="pinterest">
                                        <a href="#">
                                                <i class="fa-brands fa-pinterest-p"></i>
                                        </a>
                                    </li>
                                        <li class="linkedin">
                                        <a href="#">
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    </ul>
                                </div>
                            </li>

                                @* </div> *@
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="tab-default">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tabmain">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link  active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews(3)</button>

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

                            <div class="tab-title">
                                <h3 class="heading-3">
                                    Specification:
                                </h3>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    Brand: Beats
                                </h4>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    Model: S450
                                </h4>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    Wireless Bluetooth Headset
                                </h4>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    FM Frequency Response: 87.5 – 108 MHz
                                </h4>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    Feature: FM Radio, Card Supported (Micro SD / TF)
                                </h4>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    Made in China
                                </h4>
                            </div>
                            <div class="tab-content_product_info_container">
                                <div class="tab-content_product_info_details">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="tab-content_product_info_item py-5">
                                                <div class="tab-content_product__text_container">
                                                    <div class="tab-content_product__heading_container">
                                                        <h3 class="tab-content_product__heading heading-1">
                                                            Dimensions & Weight
                                                        </h3>
                                                    </div>
                                                    <div class="tab-content_product__dimension_container">
                                                        <ol class="tab-content_product__dimension__orderList heading-four">
                                                            <li class="tab-content_product__dimension__list">
                                                                Width: 356.78 mm (14.05 in.)
                                                            </li>
                                                            <li class="tab-content_product__dimension__list">
                                                                Height: 15.67 mm – 18.30 mm (0.62 in. – 0.72 in.)
                                                            </li>
                                                            <li class="tab-content_product__dimension__list">
                                                                Depth: 251.90 mm (9.92 in.)
                                                            </li>
                                                            <li class="tab-content_product__dimension__list">
                                                                Weight (minimum): 1.90 kg (4.19 lbs.)
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="tab-content_product__img_container">
                                                <img src="https://ecomall-be87.kxcdn.com/ecomall/wp-content/uploads/2023/10/product-detail-1.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* sencond card start *@
                                <div class="tab-content_product_info_details">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="tab-content_product__img_container">
                                                <img src="https://ecomall-be87.kxcdn.com/ecomall/wp-content/uploads/2023/10/product-detail-2.png" />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="tab-content_product_info_item">
                                                <div class="tab-content_product__text_container">

                                                    <div class="tab-content_product__heading_container">
                                                        <h3 class="tab-content_product__heading heading-1">
                                                            Better performance. More productivity.
                                                        </h3>
                                                        <p class="tab-content_product__para heading-four">
                                                            Thanks to 13th Gen Intel® Core™ processors, this laptop runs at peak performance to get you through the day. Doing some graphics-heavy work? Optional NVIDIA® RTX 2050 Graphics (coming soon) give you the boost you need.
                                                        </p>
                                                        <p class="tab-content_product__para heading-four">
                                                            Enjoy a fast, smooth PC performance without sacrificing power thanks to LPDDR5 memory. And with dual heat pipes your device stays nice, cool and performing at its best. Meanwhile, adaptive thermals optimize power according to your device’s location, whether it’s on a stable surface like a desk or an unstable surface like your lap. Using advanced algorithms and accelerometers, your device intelligently adapts its power and thermal profiles to the situation to keep your device running smoothly.
                                                        </p>
                                                        <p class="tab-content_product__para heading-four">
                                                            Stay focused with 4 sided narrow borders and FHD+ display with DC Dimming, which reduces flicker for a comfortable viewing experience. Plus, this TÜV Rheinland certified laptop with Dell ComfortView software technology helps reduce harmful blue light emissions to optimize eye comfort over extended screen time.
                                                        </p>
                                                    </div>
                                                    @*  <div class="tab-content_product__dimension_container">
                                                        <ol class="tab-content_product__dimension__orderList heading-four">
                                                            <li class="tab-content_product__dimension__list">
                                                                Width: 356.78 mm (14.05 in.)
                                                            </li>
                                                            <li class="tab-content_product__dimension__list">
                                                                Height: 15.67 mm – 18.30 mm (0.62 in. – 0.72 in.)
                                                            </li>
                                                            <li class="tab-content_product__dimension__list">
                                                                Depth: 251.90 mm (9.92 in.)
                                                            </li>
                                                            <li class="tab-content_product__dimension__list">
                                                                Weight (minimum): 1.90 kg (4.19 lbs.)
                                                            </li>
                                                        </ol>
                                                    </div> *@
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                @* second card end  *@
                                @* third start *@
                                <div class="tab-content_product_info_details">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="tab-content_product_info_item">
                                                <div class="tab-content_product__text_container">
                                                    <div class="tab-content_product__heading_container">
                                                        <h3 class="tab-content_product__heading heading-1">
                                                            Stay secure.
                                                        </h3>
                                                    </div>
                                                    <div class="tab-content_product__dimension_container">
                                                        <p class="tab-content_product__para heading-four">
                                                            The Trusted Platform Module 2.0 is a commercial-grade security chip installed on the motherboard that creates and stores passwords and encryption keys. It verifies that the computer has not been tampered with before booting up and protects your data against external software attacks.
                                                        </p>
                                                        <p class="tab-content_product__para heading-four">
                                                            Get added peace-of-mind with the fingerprint reader that allows you to securely log in with a touch, while a mechanical shutter on the camera protects your privacy and prevents accidental embarrassments.
                                                        </p>
                                                        @* <ol class="tab-content_product__dimension__orderList heading-four">
                                                            <li class="tab-content_product__dimension__list">
                                                                Width: 356.78 mm (14.05 in.)
                                                            </li>
                                                            <li class="tab-content_product__dimension__list">
                                                                Height: 15.67 mm – 18.30 mm (0.62 in. – 0.72 in.)
                                                            </li>
                                                            <li class="tab-content_product__dimension__list">
                                                                Depth: 251.90 mm (9.92 in.)
                                                            </li>
                                                            <li class="tab-content_product__dimension__list">
                                                                Weight (minimum): 1.90 kg (4.19 lbs.)
                                                            </li>
                                                        </ol> *@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="tab-content_product__img_container">
                                                <img src="https://ecomall-be87.kxcdn.com/ecomall/wp-content/uploads/2023/10/product-detail-3.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* third end *@
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                            <div class="tab-details-main-wrapper">
                                <div class="tab-des-main d-flex">
                                    <div class="tab-image">
                                        <img src="~/images/tab-default-image/jannie-schumm.png" />
                                    </div>

                                    <div class="tab-des-title">
                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Jannie Schumm
                                            </h4>
                                        </div>

                                        <div class="feature-title-main d-flex">
                                            <div class="feature-content-title">
                                                <span class="greydefault-feature">
                                                    Rated:
                                                </span>
                                            </div>

                                            <div class="heading-feature-title d-flex align-items-center">
                                                <div class="card-rating  text-center">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="defaul-span">(12)</span>
                                                </div>

                                                <div class="feature-content-title tab-default-pl">
                                                    <span class="greydefault-feature">
                                                        3.3 years ago
                                                    </span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <div class="tab-des-sub">
                                            <p class="greydefault-feature">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius massa id ut mattis. Facilisis vitae gravida egestas ac account.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="tab-details-main-wrapper">
                                <div class="tab-des-main d-flex">
                                    <div class="tab-image">
                                        <img src="~/images/tab-default-image/jenifer-tulio.png" />
                                    </div>

                                    <div class="tab-des-title">
                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Jenifer Tulio
                                            </h4>
                                        </div>

                                        <div class="feature-title-main d-flex">
                                            <div class="feature-content-title">
                                                <span class="greydefault-feature">
                                                    Rated:
                                                </span>
                                            </div>

                                            <div class="heading-feature-title d-flex align-items-center">
                                                <div class="card-rating  text-center">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="defaul-span">(12)</span>
                                                </div>

                                                <div class="feature-content-title tab-default-pl">
                                                    <span class="greydefault-feature">
                                                        3.3 years ago
                                                    </span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <div class="tab-des-sub">
                                            <p class="greydefault-feature">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius massa id ut mattis. Facilisis vitae gravida egestas ac account.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="tab-details-main-wrapper">
                                <div class="tab-des-main d-flex">
                                    <div class="tab-image">
                                        <img src="~/images/tab-default-image/joe-kenan.png" />
                                    </div>

                                    <div class="tab-des-title">
                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Joe Kenan
                                            </h4>
                                        </div>

                                        <div class="feature-title-main d-flex">
                                            <div class="feature-content-title">
                                                <span class="greydefault-feature">
                                                    Rated:
                                                </span>
                                            </div>

                                            <div class="heading-feature-title d-flex align-items-center">
                                                <div class="card-rating  text-center">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="defaul-span">(12)</span>
                                                </div>

                                                <div class="feature-content-title tab-default-pl">
                                                    <span class="greydefault-feature">
                                                        3.3 years ago
                                                    </span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <div class="tab-des-sub">
                                            <p class="greydefault-feature">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius massa id ut mattis. Facilisis vitae gravida egestas ac account.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="signpost-custom p-5">
    <div class="container">
        <div class="secondary-title p-2">
        <h2 class="heading-2">
            Big Discount
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-10">


                        <div class="row">
                            <div class="col-5 col-md-2">
                                <div class="signpost-custom-wrapper">
                                    <div class="signpost-custom-image">
                                        <img src="/images/custom-card/assets-images-products-london-britches.webp">
                                    </div>

                                    <div class="signpost-custom-desc">
                                        <h3 class="signpost-custom-title">
                                            Premium Grocery Collection
                                        </h3>
                                    </div>

                                    <div class="card-price d-flex pt-2">
                                        <div class="cardprice-title">
                                            <p class="primary-color-red">US$154.56</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-1  col-md-1">
                                <div class="d-flex align-items-center justify-content-center plus">
                                    <p class="plus-custom">+</p>
                                </div>
                            </div>


                            <div class="col-5 col-md-2">
                                <div class="signpost-custom-wrapper">
                                    <div class="signpost-custom-image">
                                        <img src="/images/custom-card/assets-images-products-london-britches.webp">
                                    </div>

                                    <div class="signpost-custom-desc">
                                        <h3 class="signpost-custom-title">
                                            Premium Grocery Collection
                                        </h3>
                                    </div>

                                    <div class="card-price d-flex pt-2">
                                        <div class="cardprice-title">
                                            <p class="primary-color-red">US$154.56</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-1  col-md-1">
                                <div class="d-flex align-items-center justify-content-center plus">
                                    <p class="plus-custom">+</p>
                                </div>
                            </div>


                            <div class="col-5 col-md-2">
                                <div class="signpost-custom-wrapper">
                                    <div class="signpost-custom-image">
                                        <img src="/images/custom-card/assets-images-products-london-britches.webp">
                                    </div>

                                    <div class="signpost-custom-desc">
                                        <h3 class="signpost-custom-title">
                                            Premium Grocery Collection
                                        </h3>
                                    </div>

                                    <div class="card-price d-flex pt-2">
                                        <div class="cardprice-title">
                                            <p class="primary-color-red">US$154.56</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-1  col-md-1">
                                <div class="d-flex align-items-center justify-content-center plus">
                                    <p class="plus-custom">+</p>
                                </div>
                            </div>






                            <div class="col-5 col-md-2">
                                <div class="signpost-custom-wrapper">
                                    <div class="signpost-custom-image">
                                        <img src="/images/custom-card/assets-images-products-london-britches.webp">
                                    </div>

                                    <div class="signpost-custom-desc">
                                        <h3 class="signpost-custom-title">
                                            Premium Grocery Collection
                                        </h3>
                                    </div>

                                    <div class="card-price d-flex pt-2">
                                        <div class="cardprice-title">
                                            <p class="primary-color-red">US$154.56</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-1  col-md-1">
                                <div class="d-flex align-items-center justify-content-center plus">
                                    <p class="plus-custom">=</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-2">
                        <div class="col">
                            <div class="signpost-custom-wrapper text-center">
                                <div class="signpost-title-wrapper">
                                    <p class="red-title">$2500</p>
                                </div>

                                <div class="signpost-sub-details-text">
                                    <p class="greydefault-feature">Save $500</p>
                                </div>

                                <div cite="banner-link">
                                    <a href="#" class="bannerlink">Add to Cart</a>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>



<section class="image-with-text p-2">
    <div class="container">
    <div class="secondary-title px-2 py-5">
        <h2 class="heading-2">
            Related Products
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="image-with-text-wrapper d-flex align-items-center justify-content-center">
                    <div class="image-with-text-image">
                        <img src="~/images/logos/card-title-logo/automobile.webp" />
                    </div>
                    <div class="image-with-text-title">
                        <h3 class="heading-4">Scarlett Beauty</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="image-with-text-wrapper d-flex align-items-center justify-content-center">
                    <div class="image-with-text-image">
                        <img src="~/images/logos/card-title-logo/automobile.webp" />
                    </div>
                    <div class="image-with-text-title">
                        <h3 class="heading-4">Scarlett Beauty</h3>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="image-with-text-wrapper d-flex align-items-center justify-content-center">
                    <div class="image-with-text-image">
                        <img src="~/images/logos/card-title-logo/automobile.webp" />
                    </div>
                    <div class="image-with-text-title">
                        <h3 class="heading-4">Scarlett Beauty</h3>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="image-with-text-wrapper d-flex align-items-center justify-content-center">
                    <div class="image-with-text-image">
                        <img src="~/images/logos/card-title-logo/automobile.webp" />
                    </div>
                    <div class="image-with-text-title">
                        <h3 class="heading-4">Scarlett Beauty</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>



@section Scripts {
    <script src="~/js/imagegallery.js"></script>
}
