@{
    ViewData["Title"] = "landing";
}

@section head {

    <link rel="stylesheet" href="~/css/main.css" />

}

<section class="feature-content">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="feature-image-main">
                    <div class="feautre-content-image">
                        <img src="~/images/electronic-iteams/camera-1.jpg" id="imagemain" alt="watch" />
                    </div>

                    <div class="feature-image d-flex justify-content-center">
                        <div class="feature-sub-image">
                            <img src="~/images/electronic-iteams/camera-2.jpg" class="feature-image-sub" onclick="btnclick(this)" />

                        </div>

                        <div class="feature-sub-image">
                            <img src="~/images/electronic-iteams/camera-3.jpg" class="feature-image-sub" onclick="btnclick(this)" />

                        </div>

                        <div class="feature-sub-image">
                            <img src="~/images/electronic-iteams/camera-4.jpg" class="feature-image-sub" onclick="btnclick(this)" />

                        </div>


                        <div class="feature-sub-image">
                            <img src="~/images/electronic-iteams/camera-5.jpg" class="feature-image-sub" onclick="btnclick(this)" />

                        </div>


                        <div class="feature-sub-image">
                            <img src="~/images/electronic-iteams/camera-6.jpg" class="feature-image-sub" onclick="btnclick(this)" />

                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-5 offset-1">
                <div class="banner-title">
                    <h1 class="heading-1">
                        Mapple Earphones

                    </h1>
                </div>
                <div class="feature-title-main d-flex">
                    <div class="feature-content-title">
                        <span class="greydefault-feature">
                            Brand:
                        </span>
                    </div>

                    <div class="heading-feature-title">
                        <span class="heading-four">
                            Ziaomi
                        </span>
                    </div>
                </div>


                <div class="feature-title-main d-flex">
                    <div class="feature-content-title">
                        <span class="greydefault-feature">
                            Rated:
                        </span>
                    </div>

                    <div class="heading-feature-title d-flex align-items-center">
                        <div class="card-rating  text-center">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="defaul-span">(12)</span>
                        </div>
                    </div>
                </div>

                <div class="cardprice-title pt-3">
                    <p class="red-title">US$154.56</p>
                </div>

                <div class="card-title pt-0">
                    <h4 class="heading-4">
                        Stock Available
                    </h4>
                </div>

                <div cite="banner-link">
                    <a href="#" class="bannerlink">Add to Cart</a>
                </div>


                <div class="feature-title-main d-flex pt-4">
                    <div class="feature-content-title">
                        <span class="greydefault-feature">
                            Sold By:
                        </span>
                    </div>

                    <div class="heading-feature-title">
                        <span class="heading-four">
                            Mobile Store
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="tab-default">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="tabmain">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link  active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Description</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews(3)</button>

                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

                            <div class="tab-title">
                                <h3 class="heading-3">
                                    Specification:
                                </h3>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    Brand: Beats
                                </h4>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    Model: S450
                                </h4>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    Wireless Bluetooth Headset
                                </h4>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    FM Frequency Response: 87.5 – 108 MHz
                                </h4>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    Feature: FM Radio, Card Supported (Micro SD / TF)
                                </h4>
                            </div>

                            <div class="tab-description">
                                <h4 class="greydefault-feature">
                                    Made in China
                                </h4>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                            <div class="tab-details-main-wrapper">
                                <div class="tab-des-main d-flex">
                                    <div class="tab-image">
                                        <img src="~/images/tab-default-image/jannie-schumm.png" />
                                    </div>

                                    <div class="tab-des-title">
                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Jannie Schumm
                                            </h4>
                                        </div>

                                        <div class="feature-title-main d-flex">
                                            <div class="feature-content-title">
                                                <span class="greydefault-feature">
                                                    Rated:
                                                </span>
                                            </div>

                                            <div class="heading-feature-title d-flex align-items-center">
                                                <div class="card-rating  text-center">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="defaul-span">(12)</span>
                                                </div>

                                                <div class="feature-content-title tab-default-pl">
                                                    <span class="greydefault-feature">
                                                        3.3 years ago
                                                    </span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <div class="tab-des-sub">
                                            <p class="greydefault-feature">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius massa id ut mattis. Facilisis vitae gravida egestas ac account.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="tab-details-main-wrapper">
                                <div class="tab-des-main d-flex">
                                    <div class="tab-image">
                                        <img src="~/images/tab-default-image/jenifer-tulio.png" />
                                    </div>

                                    <div class="tab-des-title">
                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Jenifer Tulio
                                            </h4>
                                        </div>

                                        <div class="feature-title-main d-flex">
                                            <div class="feature-content-title">
                                                <span class="greydefault-feature">
                                                    Rated:
                                                </span>
                                            </div>

                                            <div class="heading-feature-title d-flex align-items-center">
                                                <div class="card-rating  text-center">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="defaul-span">(12)</span>
                                                </div>

                                                <div class="feature-content-title tab-default-pl">
                                                    <span class="greydefault-feature">
                                                        3.3 years ago
                                                    </span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <div class="tab-des-sub">
                                            <p class="greydefault-feature">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius massa id ut mattis. Facilisis vitae gravida egestas ac account.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <div class="tab-details-main-wrapper">
                                <div class="tab-des-main d-flex">
                                    <div class="tab-image">
                                        <img src="~/images/tab-default-image/joe-kenan.png" />
                                    </div>

                                    <div class="tab-des-title">
                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Joe Kenan
                                            </h4>
                                        </div>

                                        <div class="feature-title-main d-flex">
                                            <div class="feature-content-title">
                                                <span class="greydefault-feature">
                                                    Rated:
                                                </span>
                                            </div>

                                            <div class="heading-feature-title d-flex align-items-center">
                                                <div class="card-rating  text-center">
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star checked"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="defaul-span">(12)</span>
                                                </div>

                                                <div class="feature-content-title tab-default-pl">
                                                    <span class="greydefault-feature">
                                                        3.3 years ago
                                                    </span>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-8">
                                        <div class="tab-des-sub">
                                            <p class="greydefault-feature">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius massa id ut mattis. Facilisis vitae gravida egestas ac account.
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="signpost-custom">

    <div class="secondary-title">
        <h2 class="heading-2">
            Big Discount
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-10">


                        <div class="row">
                            <div class="col-5 col-md-2">
                                <div class="signpost-custom-wrapper">
                                    <div class="signpost-custom-image">
                                        <img src="/images/custom-card/assets-images-products-london-britches.webp">
                                    </div>

                                    <div class="signpost-custom-desc">
                                        <h3 class="signpost-custom-title">
                                            Premium Grocery Collection
                                        </h3>
                                    </div>

                                    <div class="card-price d-flex pt-2">
                                        <div class="cardprice-title">
                                            <p class="primary-color-red">US$154.56</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-1  col-md-1">
                                <div class="d-flex align-items-center justify-content-center plus">
                                    <p class="plus-custom">+</p>
                                </div>
                            </div>


                            <div class="col-5 col-md-2">
                                <div class="signpost-custom-wrapper">
                                    <div class="signpost-custom-image">
                                        <img src="/images/custom-card/assets-images-products-london-britches.webp">
                                    </div>

                                    <div class="signpost-custom-desc">
                                        <h3 class="signpost-custom-title">
                                            Premium Grocery Collection
                                        </h3>
                                    </div>

                                    <div class="card-price d-flex pt-2">
                                        <div class="cardprice-title">
                                            <p class="primary-color-red">US$154.56</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-1  col-md-1">
                                <div class="d-flex align-items-center justify-content-center plus">
                                    <p class="plus-custom">+</p>
                                </div>
                            </div>


                            <div class="col-5 col-md-2">
                                <div class="signpost-custom-wrapper">
                                    <div class="signpost-custom-image">
                                        <img src="/images/custom-card/assets-images-products-london-britches.webp">
                                    </div>

                                    <div class="signpost-custom-desc">
                                        <h3 class="signpost-custom-title">
                                            Premium Grocery Collection
                                        </h3>
                                    </div>

                                    <div class="card-price d-flex pt-2">
                                        <div class="cardprice-title">
                                            <p class="primary-color-red">US$154.56</p>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="col-1  col-md-1">
                                <div class="d-flex align-items-center justify-content-center plus">
                                    <p class="plus-custom">+</p>
                                </div>
                            </div>






                            <div class="col-5 col-md-2">
                                <div class="signpost-custom-wrapper">
                                    <div class="signpost-custom-image">
                                        <img src="/images/custom-card/assets-images-products-london-britches.webp">
                                    </div>

                                    <div class="signpost-custom-desc">
                                        <h3 class="signpost-custom-title">
                                            Premium Grocery Collection
                                        </h3>
                                    </div>

                                    <div class="card-price d-flex pt-2">
                                        <div class="cardprice-title">
                                            <p class="primary-color-red">US$154.56</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-1  col-md-1">
                                <div class="d-flex align-items-center justify-content-center plus">
                                    <p class="plus-custom">=</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-2">
                        <div class="col">
                            <div class="signpost-custom-wrapper text-center">
                                <div class="signpost-title-wrapper">
                                    <p class="red-title">$2500</p>
                                </div>

                                <div class="signpost-sub-details-text">
                                    <p class="greydefault-feature">Save $500</p>
                                </div>

                                <div cite="banner-link">
                                    <a href="#" class="bannerlink">Add to Cart</a>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>



<section class="image-with-text p-3">

    <div class="secondary-title p-3">
        <h2 class="heading-2">
            Related Products
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="image-with-text-wrapper d-flex align-items-center justify-content-center">
                    <div class="image-with-text-image">
                        <img src="~/images/logos/card-title-logo/automobile.webp" />
                    </div>
                    <div class="image-with-text-title">
                        <h3 class="heading-4">Scarlett Beauty</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="image-with-text-wrapper d-flex align-items-center justify-content-center">
                    <div class="image-with-text-image">
                        <img src="~/images/logos/card-title-logo/automobile.webp" />
                    </div>
                    <div class="image-with-text-title">
                        <h3 class="heading-4">Scarlett Beauty</h3>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="image-with-text-wrapper d-flex align-items-center justify-content-center">
                    <div class="image-with-text-image">
                        <img src="~/images/logos/card-title-logo/automobile.webp" />
                    </div>
                    <div class="image-with-text-title">
                        <h3 class="heading-4">Scarlett Beauty</h3>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="image-with-text-wrapper d-flex align-items-center justify-content-center">
                    <div class="image-with-text-image">
                        <img src="~/images/logos/card-title-logo/automobile.webp" />
                    </div>
                    <div class="image-with-text-title">
                        <h3 class="heading-4">Scarlett Beauty</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



@section Scripts {
    <script src="~/js/imagegallery.js"></script>
}
