.cat-wrapper{
    cursor:pointer;
    margin-bottom:2rem;
    transition:0.5s;
    border-radius:5px;
}

.cat-wrapper:hover {
    box-shadow: rgba(3, 0, 71, 0.09) 0px 8px 45px;
}

.cat-logo{
    width:5rem;
}

.cat-title-heading {
    margin-left: 8px;
    font-weight: 600;
    font-size: 12px;
}
.categories_link {
    background-color: #F6F9FC;
    text-align: center;
    border-radius: 1rem;
    padding: 5px 0;
}
.categories_link > a {
    margin: 10px 0 0 0;
    padding-left: 10px;
}
    .categories_link > a:hover {
        color: #E94560;
    }
.icon_dropdown{
    padding-left:20px;
}
