.feature-content{
    padding:8rem 0;
}

.feautre-content-image {
    height: 40rem;
}

.heading-feature-title{
    padding:0 1rem;
}

.feature-image {
    padding: 3rem 0;
}

.feature-image-main {
    padding:20rem  0rem 2rem 0;
}

.feature-sub-image {
    height: 6.5rem;
    width: 6.5rem;
    transition: 0.5s;
   margin:0 1rem;
   padding:0.2rem;
}

.feature-sub-image:hover {
        border: 1px solid #E94560;
    }