.signpost-wrapper{
    padding:3rem;
    border-radius:5px;
    margin-bottom:2rem;
}
.signpost-logo-wrapper{
    padding:3rem;
}
.signpost-logo {
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
    background: rgb(243,245,249);
    border-radius: 50%;
}

.signpost-title {
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}

