.small-image-caption{
    border-radius:5px;
}

.small-image-main {
    position: relative;
    cursor:pointer;
    height:14.8rem;
    
}

    .small-image-main:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        border-radius: 5px;
        top: 0;
        transition: 0.5s;
    }

.small-image-main:hover::after {
        background: rgba(0, 0, 0, 0.3);
 }