.tab-des-main{
    padding:2rem 0;
}

.tab-title {
    padding: 2rem 0;
}

.tab-default-pl{
    padding:0rem 1rem;
}

.tab-image{
    width:6.4rem;
    height:6.4rem;
    border-radius:50%;
    margin-right:2rem;
}

