@{
    ViewData["Title"] = "Home Page";
}

@section head {

    <link rel="stylesheet" href="~/css/main.css" />

}

<h1>Rahul</h1>
<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col">
                <section class="card-logo-title">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card-main bg-white">
                                    <div class="card-details-main d-flex align-items-center">
                                        <div class="card-logo">
                                            <img src="/images/logos/card-title-logo/ferrari.webp">
                                        </div>

                                        <div class="card-title">
                                            <h3 class="heading-logo-title">Ferrari</h3>
                                        </div>
                                    </div>

                                    <div class="card-details-main d-flex align-items-center">
                                        <div class="card-logo">
                                            <img src="/images/logos/card-title-logo/ferrari.webp">
                                        </div>

                                        <div class="card-title">
                                            <h3 class="heading-logo-title">Ferrari</h3>
                                        </div>
                                    </div>

                                    <div class="card-details-main d-flex align-items-center">
                                        <div class="card-logo">
                                            <img src="/images/logos/card-title-logo/ferrari.webp">
                                        </div>

                                        <div class="card-title">
                                            <h3 class="heading-logo-title">Ferrari</h3>
                                        </div>
                                    </div>


                                    <div class="card-details-main d-flex align-items-center">
                                        <div class="card-logo">
                                            <img src="/images/logos/card-title-logo/ferrari.webp">
                                        </div>

                                        <div class="card-title">
                                            <h3 class="heading-logo-title">Ferrari</h3>
                                        </div>
                                    </div>


                                    <div class="card-details-main d-flex align-items-center">
                                        <div class="card-logo">
                                            <img src="/images/logos/card-title-logo/ferrari.webp">
                                        </div>

                                        <div class="card-title">
                                            <h3 class="heading-logo-title">Ferrari</h3>
                                        </div>
                                    </div>


                                    <div class="card-details-main d-flex align-items-center">
                                        <div class="card-logo">
                                            <img src="/images/logos/card-title-logo/ferrari.webp">
                                        </div>

                                        <div class="card-title">
                                            <h3 class="heading-logo-title">Ferrari</h3>
                                        </div>
                                    </div>


                                    <div class="card-details-main d-flex align-items-center">
                                        <div class="card-logo">
                                            <img src="/images/logos/card-title-logo/ferrari.webp">
                                        </div>

                                        <div class="card-title">
                                            <h3 class="heading-logo-title">Ferrari</h3>
                                        </div>
                                    </div>

                                    <div class="card-logo-link text-center">
                                        <a class="card-link" href="logo-link">View All Brands</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-8">
                <section class="banner-swiper d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col">

                                <div class="banner-swiper-custom swiper mySwiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                                    <div class="swiper-wrapper" id="swiper-wrapper-4f102cfe6294bc685" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); transition-delay: 0ms;">
                                        <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 2" style="width: 1110px;">
                                            <div class="bannwe-wrapper d-flex justify-content-between">

                                                <div class="banner-details-wrapper">
                                                    <div class="banner-title">
                                                        <h1 class="heading-1">
                                                            50% Off For Your First Shopping
                                                        </h1>
                                                    </div>
                                                    <div class="banner-description">
                                                        <p class="bannerdes">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis consequat eu, quam etiam at quis ut convalliss.
                                                        </p>
                                                    </div>
                                                    <div cite="banner-link">
                                                        <a href="#" class="bannerlink">Shop Now</a>
                                                    </div>
                                                </div>

                                                <div class="banner-image">
                                                    <img src="/images/custom-card/assets-images-products-london-britches.webp">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 2" style="width: 1110px;">

                                            <div class="bannwe-wrapper d-flex justify-content-between">

                                                <div class="banner-details-wrapper">
                                                    <div class="banner-title">
                                                        <h1 class="heading-1">
                                                            50% Off For Your First Shopping
                                                        </h1>
                                                    </div>
                                                    <div class="banner-description">
                                                        <p class="bannerdes">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis consequat eu, quam etiam at quis ut convalliss.
                                                        </p>
                                                    </div>
                                                    <div cite="banner-link">
                                                        <a href="#" class="bannerlink">Shop Now</a>
                                                    </div>
                                                </div>

                                                <div class="banner-image">
                                                    <img src="/images/custom-card/assets-images-products-london-britches.webp">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


<section class="home-big-discount p-5">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="heading-title d-flex justify-content-between pt-100">


                    <div class="secondary-title">
                        <h2 class="heading-2">
                            <span class="fa-solid fa-gift primary-color-red"></span>

                            Big Discount
                        </h2>
                    </div>

                    <div class="view-all d-flex align-items-md-center">
                        <p class="view-title">
                            View all
                        </p>

                        <p class="fa-solid fa-caret-right caret-right-custom"></p>
                    </div>

                </div>

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">

                            <div class="row">

                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">

                            <div class="row">

                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>




                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>





                            </div>

                        </div>

                        <div class="swiper-slide">

                            <div class="row">

                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>




                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <div class="card-custom-main">
                                        <div class="card-image">
                                            <img src="/images/custom-card/phone.webp">
                                        </div>


                                        <div class="card-title">
                                            <h4 class="heading-4">
                                                Tony TV 1080p
                                            </h4>
                                        </div>


                                        <div class="card-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                        <div class="card-price d-flex">
                                            <div class="cardprice-title">
                                                <p class="red-title">US$154.56</p>
                                            </div>

                                            <div class="card-offer-price">
                                                <span class="delete-content">US$168.00</span>
                                            </div>
                                        </div>


                                        <div class="card-quantity d-flex justify-content-end">
                                            <span class="default-btn-plus fa-solid fa-plus"></span>
                                        </div>


                                        <div class="card-per-details d-flex justify-content-between">
                                            <div class="card-offer-title">
                                                <p class="offer-percent"> 8% off </p>
                                            </div>

                                            <div class="card-show flex-column d-flex">
                                                <p class="visibility fa-solid fa-eye whitelist-custom custom-show-eye"></p>
                                                <p class="fa-regular fa-heart whitelist-custom"></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>





                            </div>

                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="top-category p-5">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="heading-title d-flex justify-content-between pt-100">


                    <div class="secondary-title">
                        <h2 class="heading-2">
                            <span class="fa-solid fa-gift primary-color-red"></span>

                            Top Categories
                        </h2>
                    </div>

                    <div class="view-all d-flex align-items-md-center">
                        <p class="view-title">
                            View all
                        </p>

                        <p class="fa-solid fa-caret-right caret-right-custom"></p>
                    </div>

                </div>

                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">

                            <div class="row">

                                <div class="col-12 col-md-4">
                                    <div class="image-main-multi ">
                                        <div class="imagemulti d-flex">
                                            <img src="/images/multi-image/category-1.webp">
                                        </div>
                                        <div class="mulit-image-description d-flex justify-content-between">
                                            <div class="multi-image-offer">
                                                <span class="offermulti-heading">
                                                    Sunglass
                                                </span>
                                            </div>
                                            <div class="multi-image-week-offer">

                                                <span class="multi-week-offer">
                                                    3k orders this week
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-4">
                                    <div class="image-main-multi ">
                                        <div class="imagemulti d-flex">
                                            <img src="/images/multi-image/category-1.webp">
                                        </div>
                                        <div class="mulit-image-description d-flex justify-content-between">
                                            <div class="multi-image-offer">
                                                <span class="offermulti-heading">
                                                    Sunglass
                                                </span>
                                            </div>
                                            <div class="multi-image-week-offer">

                                                <span class="multi-week-offer">
                                                    3k orders this week
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-4">
                                    <div class="image-main-multi ">
                                        <div class="imagemulti d-flex">
                                            <img src="/images/multi-image/category-1.webp">
                                        </div>
                                        <div class="mulit-image-description d-flex justify-content-between">
                                            <div class="multi-image-offer">
                                                <span class="offermulti-heading">
                                                    Sunglass
                                                </span>
                                            </div>
                                            <div class="multi-image-week-offer">

                                                <span class="multi-week-offer">
                                                    3k orders this week
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">

                            <div class="row">

                                <div class="col-12 col-md-4">
                                    <div class="image-main-multi ">
                                        <div class="imagemulti d-flex">
                                            <img src="/images/multi-image/category-1.webp">
                                        </div>
                                        <div class="mulit-image-description d-flex justify-content-between">
                                            <div class="multi-image-offer">
                                                <span class="offermulti-heading">
                                                    Sunglass
                                                </span>
                                            </div>
                                            <div class="multi-image-week-offer">

                                                <span class="multi-week-offer">
                                                    3k orders this week
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="image-main-multi ">
                                        <div class="imagemulti d-flex">
                                            <img src="/images/multi-image/category-1.webp">
                                        </div>
                                        <div class="mulit-image-description d-flex justify-content-between">
                                            <div class="multi-image-offer">
                                                <span class="offermulti-heading">
                                                    Sunglass
                                                </span>
                                            </div>
                                            <div class="multi-image-week-offer">

                                                <span class="multi-week-offer">
                                                    3k orders this week
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-12 col-md-4">
                                    <div class="image-main-multi ">
                                        <div class="imagemulti d-flex">
                                            <img src="/images/multi-image/category-1.webp">
                                        </div>
                                        <div class="mulit-image-description d-flex justify-content-between">
                                            <div class="multi-image-offer">
                                                <span class="offermulti-heading">
                                                    Sunglass
                                                </span>
                                            </div>
                                            <div class="multi-image-week-offer">

                                                <span class="multi-week-offer">
                                                    3k orders this week
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="top-rating-feature-brand p-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">

              <div class="row">

                <div class="col-12">

                    <div class="heading-title d-flex justify-content-between pt-100">


                        <div class="secondary-title">
                            <h2 class="heading-2">
                                <span class="fa-solid fa-gift primary-color-red"></span>

                                Top Ratings
                            </h2>
                        </div>

                        <div class="view-all d-flex align-items-md-center">
                            <p class="view-title">
                                View all
                            </p>

                            <p class="fa-solid fa-caret-right caret-right-custom"></p>
                        </div>

                    </div>
                </div>

                    <div class="col-6 col-md-3">
                        <div class="card-small-main bg-white p-2 mb-4">
                            <div class="card-image card-small-image">
                                <img src="/images/small-card/headphone.webp">

                            </div>

                            <div class="card-rating  text-center">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="defaul-span">(12)</span>
                            </div>


                            <div class="card-title pt-2 text-center">
                                <h4 class="heading-4">
                                    Tony TV 1080p
                                </h4>
                            </div>

                            <div class="card-price d-flex pt-2 justify-content-center">
                                <div class="cardprice-title p-3">
                                    <p class="red-title">US$154.56</p>
                                </div>                                
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="card-small-main bg-white p-2 mb-4">
                            <div class="card-image card-small-image">
                                <img src="/images/small-card/headphone.webp">

                            </div>

                            <div class="card-rating  text-center">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="defaul-span">(12)</span>
                            </div>


                            <div class="card-title pt-2 text-center">
                                <h4 class="heading-4">
                                    Tony TV 1080p
                                </h4>
                            </div>

                            <div class="card-price d-flex pt-2 justify-content-center">
                                <div class="cardprice-title p-3">
                                    <p class="red-title">US$154.56</p>
                                </div>

                               
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="card-small-main bg-white p-2 mb-4">
                            <div class="card-image card-small-image">
                                <img src="/images/small-card/headphone.webp">

                            </div>

                            <div class="card-rating  text-center">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="defaul-span">(12)</span>
                            </div>


                            <div class="card-title pt-2 text-center">
                                <h4 class="heading-4">
                                    Tony TV 1080p
                                </h4>
                            </div>

                            <div class="card-price d-flex pt-2 justify-content-center">
                                <div class="cardprice-title p-3">
                                    <p class="red-title">US$154.56</p>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="card-small-main bg-white p-2 mb-4">
                            <div class="card-image card-small-image">
                                <img src="/images/small-card/headphone.webp">

                            </div>

                            <div class="card-rating  text-center">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="defaul-span">(12)</span>
                            </div>


                            <div class="card-title pt-2 text-center">
                                <h4 class="heading-4">
                                    Tony TV 1080p
                                </h4>
                            </div>

                            <div class="card-price d-flex pt-2 justify-content-center">
                                <div class="cardprice-title p-3">
                                    <p class="red-title">US$154.56</p>
                                </div>


                            </div>
                        </div>
                    </div>
              </div>
            </div>

           

            <div class="col-12 col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-12">

                    <div class="heading-title d-flex justify-content-between pt-100">


                        <div class="secondary-title">
                            <h2 class="heading-2">
                                <span class="fa-solid fa-gift primary-color-red"></span>

                                Featured Brands
                            </h2>
                        </div>

                        <div class="view-all d-flex align-items-md-center">
                            <p class="view-title">
                                View all
                            </p>

                            <p class="fa-solid fa-caret-right caret-right-custom"></p>
                        </div>

                    </div>
                </div>

                  
                        <div class="col-12 col-md-6">
                            <div class="small-image-wrapper">
                                <div class="small-image-main">
                                    <img src="~/images/custom-card/assets-images-products-london-britches.webp" />
                                </div>
                                <div class="card-title pt-4">
                                    <h4 class="heading-4">
                                        Tony TV 1080p
                                    </h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="small-image-wrapper">
                                <div class="small-image-main">
                                    <img src="~/images/custom-card/assets-images-products-london-britches.webp" />
                                </div>
                                <div class="card-title pt-4">
                                    <h4 class="heading-4">
                                        Tony TV 1080p
                                    </h4>
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>

            
        </div>
    </div>
</section>


